<style>
    *{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    a{
        text-decoration:none;
        font-size:20px;
        display:flex;
        padding:20px;
        margin:20px;
        border:none;
        border-radius:5px;
        color:white;
        height:70px;
        {% comment %} background-color:#0077B6; {% endcomment %}
    }
    nav{
        
        background-color:#0077B6;
        width:200px;
    }
    nav ,a{
        padding:10px;
        gap:10px;
    }
    #item-count{
      
        color:white;
        width:30px;
        height:30px;
        border-radius:5px;
        text-align:center;
       
       
    }
</style>


<div>
    <nav>
        <a>Home</a>
        <a href ="/admin">admin</a>
        <a href ="{% url 'get_products'%}">Products <span id="item-count">{{product_count}}</span> </a>
        <a href ="{%url 'get_categories'%}">Categories<span id="item-count">{{cat_count}}</span></a>
        <a href ="{%url 'get_warehouses'%}">Warehouses <span id="item-count">{{warehouse_count}}</span></a>
        <a href ="{%url 'get_orders'%}">Orders <span id="item-count">{{order_count}}</span></a>
        <a href ="{%url 'get_suppliers'%}">Suppliers <span id="item-count">{{supplier_count}}</span></a>
       
        
        {% comment %} <a href ="{%url 'get_warehouse_inventories'%}">Warehouses Inventories</a> {% endcomment %}

    </nav>
</div>